body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}



.carousel-item img{
   width: 100% !important; 
}

.container{
    align-items: center;
    justify-content: center;
}

/* .card1 img{
   width: 400px;
   height: 400px;
}

.card2 img{
    width: 400px;
    height: 400px;
 }

 .card3 img{
    width: 400px;
    height: 400px;
 } */